<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<!-- Nome da sua aplicação -->
	<display-name>SaraMaven</display-name>

	<!-- Configuração do arquivo inicial quando a aplicação for inicializada -->
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Configuração do Controlador Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
		<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<!-- Login filter -->
	<!-- <filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>br.unit.filter.LoginFilter</filter-class>
	</filter> -->
	<!-- Set the login filter to secure all the pages in the /pages/* path of 
		the application Filtra todas as requisições de paginas http que estejão dentro 
		da pasta /pages/* -->
	<!-- <filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping> -->
	<!-- Tempo de duração da sessão do usuário -->
	<!-- <session-config>
		<session-timeout>30</session-timeout>
	</session-config> -->
	<resource-ref>
		<res-ref-name>jdbc/SaraMaven</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>